
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media

# VS Code
.vscode/

# Heavy Datasets (Too big for Vercel/Git)
datasets/
!datasets/creditcard_sample.csv
!datasets/spam_sample.csv
